* {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Merriweather Sans', sans-serif;
}

#teamcontainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Merriweather Sans', sans-serif;
    box-shadow: 0 0 40px black;
}

header {
    margin-left: auto;
    margin-right: auto;
}

#wedo {
    text-align: center;
    font-size: 160%;
    padding: 60px;
}

.flex {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px;
}

.team {
    margin-top: 20px;
}

#members {
    margin-top: 10vh;
    font-size: 12px;
}

.description {
    text-align: left;
    font-weight: 100;
    list-style-type: initial;
}

.mySlides {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 75%;
    height: 75%;
    box-shadow: 0 0 30px grey;
}

.people {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.left {
    float: left;
    margin-left: 40px;
}

.right {
    float: right;
}

.frames {
    margin-top: 3vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    line-height: 115%;
    height: 200px;
    font-size: 90%;
    overflow: hidden;
    letter-spacing: 1px;
}

.name {
    list-style-type: none;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}

.members {
    max-height: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 1000px;
    padding: 1vw 0 0 0;
    opacity: 0.95;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo:hover {
    cursor: default;
    border-bottom: 0px
}

.images {
    height: 200px;
}

a:hover {
    border-bottom: 1px solid black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}